.bootstrap-select{
    width: 100% !important;
    max-width: 100% !important;
}
.bootstrap-select{
    width: 100% !important;
    max-width: 100% !important;
}
/* .content{
    overflow-x: hidden;
} */