@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --blue: #1BC5BD;
    --border-blue: #1BC5BD;
    --text-color: #7E8299;
    --box-chat-bot: #E1F0FF;
    --box-chat-sender: #C9F7F5;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: #c2f5ff #ffffff;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #c2f5ff;
    border-radius: 9px;
    border: 3px solid #ffffff;
}

body {
    background: #F3F6F9;
}

.btn-blue {
    color: #FFFFFF;
    background-color: var(--blue);
    border-color: var(--border-blue);
}

.btn-blue:hover,.btn-blue:focus {
    background-color: #12bab2;
    border-color: #12bab2;
}

.text-blue {
    color: var(--blue);
}

.text-blue:hover,.text-blue:focus {
    color: #12bab2;
}


.card.card-custom {
    -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    border: 0;
}

.card.card-custom > .card-header-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    color: var(--text-color);
}

.card-header-custom:first-child {
    border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
}

.card-header-custom {
    padding: 2rem 2.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #EBEDF3;
}
.card-custom > .card-footer {
    padding: 2rem 2.25rem !important;
    background-color: #ffffff !important;
    /* border-top: 1px solid #EBEDF3 !important; */
}

.card-flash {
    position: relative;
    margin-bottom: 1rem;
    
}


.flash-message {
    max-width: 500px !important;
    padding: .5rem;
}

.btn-flash {
    color: #3a3a3a;
    text-decoration: none;
    margin-right: 0.75rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(191, 191, 191, 0.222);
    border-radius: 7px;
}

.btn-flash:hover,.btn-flash:focus {
    color: #676565;
    margin-right: 0.75rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(213, 211, 211, 0.222);
    border-radius: 7px;
}

.flash-message > p {
    margin: 0;
    padding: 0;
}

.box-bot {
    margin-top: 0.5rem !important;
    padding: 0 !important;
    margin-left: 1rem;
}

.box-bot.triangle {
    width: 0;
    height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--box-chat-bot);
}

.box-sender {
    margin-top: 0.5rem !important;
    padding: 0 !important;
    margin-right: 1rem;
}

.box-sender.triangle {
    width: 0;
    height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--box-chat-sender);
}

.scroll.scroll-pull {
    padding-right: 12px;
    margin-right: -12px;
}

.scroll {
    position: relative;
}

.ps {
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.max-w-400px {
    max-width: 400px !important;
}

.text-dark-50 {
    color: #363639 !important;
}

.bg-chat-bot {
    background-color: var(--box-chat-bot) !important;
}

.bg-chat-sender {
    background-color: var(--box-chat-sender);
}

.symbol {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.42rem;
}

.symbol.symbol-circle {
    border-radius: 50%;
}

.symbol.symbol-40 > img {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.symbol.symbol-circle > img {
    border-radius: 50%;
}

.font-size-sm {
    font-size: 0.698rem;
}

.font-size-h6 {
    font-size: 0.987rem !important;
}

.chat-bubble {
    background-color: var(--box-chat-bot) !important;;
    padding: 16px 28px;
    border-radius: 6px;
    display: inline-block;
}
.typing {
    align-items: center;
    display: flex;
    height: 17px;
}
.typing .dot {
    animation: TypingAnimation 1.8s infinite ease-in-out;
    background-color: var(--blue);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

.prepare-message {
    height: 65vh;
}

.send-message {
    overflow: auto;
    resize: vertical;
}

.custom-textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-chat {
    border-top: 1px solid #EBEDF3 !important;
    padding-top: 1.3rem !important;
}
  
@keyframes TypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #17b0a8;
    }
    28% {
        transform: translateY(-7px);
        background-color: #2edad2;
    }
    44% {
        transform: translateY(0px);
        background-color: #2fe6dd;
    }
}
  


/* Responsive */
@media (min-width: 1200px) {
    .symbol > img {
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    .symbol > img {
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
}

@media (min-width: 768px) {
    .symbol > img {
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
}

@media (min-width: 576px) {
    .symbol > img {
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
    .symbol > img {
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
    .symbol > img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0.42rem;
    }
}